body {
  background-color: lightyellow;
}

input {
  margin-left: 25px;
}

.veg input {
  margin-left: 15px;
}

fieldset {
  margin-top: 10px;
}

.btnSelect {
  margin-top: 10px;
  margin-left: 2px;
}